<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% if title %}
        <title>vanilla 1.0 - {{ title }}</title>
    {% else %}
        <title>vanilla 1.0</title>
    {% endif %}
</head>
<body>
{% include 'navbar.html' %}
{% block content %} {% endblock %}

</body>
</html>