{% extends "layout.html" %}

{% block content %}
<div class="container">
    <br>
    <h4>{{ title }} detail's database</h4>
    <p>Metadata: {{ keys }}</p>
</div>
<div class="container">
    <div>
        <table class="table">
            <thead>
            <tr>

                {% for key in keys %}
                <th scope="col">{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            <!--{% set count = namespace(value=0) %}-->
            {% for ex in data %}
            <tr>
                <!--<th scope="row">{{ count.value }}</th>-->

                <!--{% set count.value = count.value + 1 %}-->

                {% for i in ex %}
                {% if i not in '_id' %}
                <td>
                    <div>{{ ex[i]| string | truncate(40) }}</div>
                </td>
                {% else %}
                <td>
                    <div>{{ ex[i] }}</div>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
